body {
  background-image: url("../imgs/welcome.jpg");
  background-repeat: no-repeat;
  background-position: fixed;
  background-size: cover;
  background-color: black;
  margin:0;
}

.greeting {
  font-family: 'Poiret One', Arial;
  color:white;
  text-align: center;
  padding-top: 100px;
  font-size: 30px;
}


/*footer & nav*/

.footer {
  width:100%;
  position:fixed;
  bottom:25px;
  background-color: rgba(204,204,204,0.3);
  text-align: center;
}

.nav span {
  display: inline-block;
  font-size: 20px;
  font-family: 'Poiret One', Arial;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
}

a:link {
  color:white;
  text-decoration: none;
}

a:hover {
  color: transparent;
  text-decoration: none;
}

a:visited {
  color:black;
  text-decoration: none;
}

.subfooter {
  color: white;
  font-family: 'Poiret One', Arial;
  font-size: 12px;
  text-align: center;
  width:100%;
  bottom:6px;
  position: fixed;
}